<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Pop Culture Logo" src="../assets/pop-culture.png">

  <div>
	  <a routerLink="/singers">Singers</a>
	  <a routerLink="/drummers">Drummers</a>
	  <a routerLink="/guitarists">Guitarists</a>
  </div>

</div>

<router-outlet></router-outlet>

<!-- <app-guitaristlist></app-guitaristlist>

<app-drummerlist></app-drummerlist>

<app-singerlist></app-singerlist> -->